.menu {
  padding: 2em;
  border-radius: 0.4em;
  background-color: #222222;
  color: #fff;
  &__ul {
    display: flex;
    flex-direction: column;
    row-gap: 1.6em;
  }
  &__li {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;

    gap: 0.8em;
    color: #fff;
    font-size: 1.2rem;
  }
  &__icon {
    width: 1em;
    color: #fff;
  }
  //   outline: 0.0625rem solid rebeccapurple;
}
.active,
.menu__icon {
  color: #daff3e;
  fill: #daff3e;
}
