<section class="properties">
  <div class="properties__content">
    <h2 class="properties__title">List of properties</h2>

    <div class="properties-list">
      <article class="properties-list__propertie" *ngFor="let house of houses">
        <maps-mini-map
          [lngLatRef]="house.lngLat"
          class="properties-list__img"
        ></maps-mini-map>
        <div class="properties-list__info">
          <h3 class="properties-list__title">{{ house.title }}</h3>
          <p class="properties-list__description">{{ house.description }}</p>
        </div>
      </article>

      <counter-component></counter-component>
    </div>
  </div>
</section>
